
<% if user_signed_in? %>
  <h1><%= current_user.first_name %>'s Colors</h1>
  <% if user_signed_in? %>
  <p><%= link_to "Add a new color", new_color_path %></p>
  <% end %>
  <div id="app"> </div>
  <div id="user_review"></div>
<% else %>
  <h1>COLORS!!!!</h1>
<% end %>

<% @search_colors.each do |color| %>
  <p><%= color.nickname %> || <%= link_to color.hex_code, color_path(color) %> </p>
<% end %>
