@import url(https://fonts.googleapis.com/css?family=Playfair+Display|Raleway|Ruluko|Pontano+Sans);

$ruloku: 'Ruluko', sans-serif;
$pontano: 'Pontano Sans', sans-serif;
$raleway: 'Raleway', sans-serif;

body {
  font-family: $ruloku;
  font-size: 18px;
}

// a {
//   font-family: $ruloku;
//   font-size: 21px;
//   text-decoration: none;
//   :hover {
//     color: red;
//   }
// }



#super a {
  padding: none;
  font-size: 94px;
  color: black;
}

div {
  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
  color: black;
  transition: .5s;
  }
}

.index {
  font-family: 'Raleway', sans-serif;
  h1 {
    font-size: 150px;
    margin: 60px;
  }
  p {
    margin: -50px;
    padding: 0;
    font-size: 30px;
  }
}

div.boxes {
  border: 1pt solid black;
  padding: 10px;
  margin: 20px;
  width: 150px;
  height: 150px;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  font-family: $ruloku;
  letter-spacing: 1px;
  margin-bottom: 56px;
}

div.username {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  padding: 2px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin: 40px 0;
  h1 {
    font-size: 125px;
    margin-top: 60px;
  }
  h3 {
    margin-top: -60px;
  }
}

div.subhead {
  font-size: 24px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  padding: 0px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin-top: 80px;
}

div {
  p {
  margin-top: 110px;
  }
}

  #query {
    width: 150px;
    height: 26px;
  }

h4 {
  font-size: 60px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.form1 {
  width: 700px;
  margin: auto;
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
  .field1{
    // border: 1px black solid;
    display: inline-block;
    select {
      width: 50px;
      height: 30px;
      margin-left: 10px;
      font-size: 18px;
    }
  }
  .field2{
    textarea {
      font-size: 18px;
      margin-top: 10px;
      width: 700px;
      height: 200px;
    }
    label {
      visibility: hidden;
    }
  }
  .actions {
    input {
      text-align: center;
      width: 160px;
      height: 41px;
      border-radius: 5px;
      background-color: #aaaaaa;
      font-size: 18px;
      margin: auto;
      margin-top: -10px;
      margin-bottom: 60px;
      margin-left: 270px;
    }
  }
}

.flash {
  padding: 1em;
  background-color: #3B9089;
}

.reviews {
  margin: auto;
  width: 700px;
  border-bottom: 1px black solid;
  padding: 20px;
  p {
    text-align: left;
    font-size: 24px;
    margin-top: 0;
    text-align: center;
  }
}
