@import url(https://fonts.googleapis.com/css?family=Playfair+Display|Raleway|Ruluko|Pontano+Sans);

$ruloku: 'Ruluko', sans-serif;
$pontano: 'Pontano Sans', sans-serif;
$raleway: 'Raleway', sans-serif;

body {
  font-family: $ruloku;
  font-size: 18px;
  margin-top: 10px;
  margin: 10px;
}

#super a {
  padding: none;
  font-size: 94px;
  color: black;
}

div {
  a {
    text-decoration: none;
  }
  a:hover {
  color: #aaaaaa;
  transition: .5s;
  }
}

#editlink {
  font-size: 18px;
  margin: 9px;
}

.index {
  font-family: 'Raleway', sans-serif;
  h1 {
    font-size: 150px;
    margin: 60px;
  }
  p {
    margin: -50px;
    padding: 0;
    font-size: 30px;
  }
}

.boxes {
  border: 1pt solid black;
  padding: 10px;
  margin: 20px;
  width: 150px;
  height: 150px;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  font-family: $ruloku;
  letter-spacing: 1px;
  margin-bottom: 60px;
}

.colorheader {
  margin-top: 50px;
  text-align: center;
  font-family: $ruloku;
  text-transform: uppercase;
  padding: 2px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin: 40px 0;
  h1 {
    font-size: 125px;
  }
  h3 {
    font-size: 60px;
    margin-top: -88px;
  }
}

.username {
  margin-top: 50px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  padding: 2px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin: 40px 0;
  h1 {
    font-size: 125px;
  }
  h3 {
    margin-top: -60px;
  }
}

div.subhead {
  font-size: 24px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  padding: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin-top: 80px;
}

div {
  p {
  margin-top: 110px;
  }
}

  #query {
    width: 150px;
    height: 26px;
  }

h4 {
  font-size: 60px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.form1 {
  width: 700px;
  margin: auto;
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
  .field1{
    // border: 1px black solid;
    display: inline-block;
    select {
      width: 50px;
      height: 30px;
      margin-left: 10px;
      font-size: 18px;
    }
  }
  .field2{
    textarea {
      font-size: 18px;
      margin-top: 10px;
      width: 700px;
      height: 200px;
    }
    label {
      visibility: hidden;
    }
  }
  .actions {
    input {
      text-align: center;
      width: 160px;
      height: 41px;
      border-radius: 5px;
      background-color: #aaaaaa;
      font-size: 18px;
      margin: auto;
      margin-top: -10px;
      margin-bottom: 60px;
      margin-left: 270px;
    }
  }
}

.form2 {
  width: 700px;
  margin: auto;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  .field3 {
    #color_hex_code {
      font-size: 18px;
      margin-top: 10px;
      width: 700px;
      height: 30px;
      margin-bottom: 30px;
      text-align: center;
    }
    #color_nickname {
      font-size: 18px;
      margin-bottom: 30px;
      margin-top: 10px;
      width: 700px;
      height: 30px;
      text-align: center;
    }
  }
  .actions {
    input {
      text-align: center;
      width: 160px;
      height: 41px;
      border-radius: 5px;
      background-color: #aaaaaa;
      font-size: 18px;
      margin: auto;
      margin-top: -10px;
      margin-bottom: 60px;

    }
  }
}

.form3 {
  width: 700px;
  margin: auto;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  .field5 {
    #user_email {
      font-size: 18px;
      margin-top: 10px;
      width: 700px;
      height: 30px;
      margin-bottom: 30px;
      text-align: center;
    }
    #user_password {
      font-size: 18px;
      margin-bottom: 30px;
      margin-top: 10px;
      width: 700px;
      height: 30px;
      text-align: center;
    }
  }
  .field6 {
    font-size: 21px;
    #user_remember_me {
      width: 20px;
      height: 20px;
    }
  }
  .actions {
    input {
      text-align: center;
      width: 160px;
      height: 41px;
      border-radius: 5px;
      background-color: #aaaaaa;
      font-size: 18px;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 60px;
    }
  }
}

.form4 {
  width: 700px;
  margin: auto;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  .field7 {
    #user_first_name {
      font-size: 18px;
      margin-top: 10px;
      width: 700px;
      height: 30px;
      margin-bottom: 30px;
      text-align: center;
    }
    #user_last_name {
      font-size: 18px;
      margin-bottom: 30px;
      margin-top: 10px;
      width: 700px;
      height: 30px;
      text-align: center;
    }
    #user_email {
      font-size: 18px;
      margin-bottom: 30px;
      margin-top: 10px;
      width: 700px;
      height: 30px;
      text-align: center;
    }
    #user_password {
      font-size: 18px;
      margin-bottom: 30px;
      margin-top: 10px;
      width: 700px;
      height: 30px;
      text-align: center;
    }
    #user_password_confirmation {
      font-size: 18px;
      margin-bottom: 30px;
      margin-top: 10px;
      width: 700px;
      height: 30px;
      text-align: center;
    }
    #user_current_password {
      font-size: 18px;
      margin-bottom: 30px;
      margin-top: 10px;
      width: 700px;
      height: 30px;
      text-align: center;
    }
  }
  .actions {
    input {
      text-align: center;
      width: 160px;
      height: 41px;
      border-radius: 5px;
      background-color: #aaaaaa;
      font-size: 18px;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 60px;
    }
  }
  .actions2 {
    input {
      text-align: center;
      width: 200px;
      height: 41px;
      border-radius: 5px;
      background-color: #aaaaaa;
      font-size: 18px;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 60px;
    }
  }
  .actions3 {
    input {
      text-align: center;
      width: 400px;
      height: 41px;
      border-radius: 5px;
      background-color: #aaaaaa;
      font-size: 18px;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 60px;
    }
  }
}

.edit {
  text-align: center;
  margin-bottom: 10px;
}

div.form {
  margin-top: 30px;
}

.flash {
  padding: 1em;
  font-size: 18px;
  background-color: #aaaaaa;
}

.reviews {
  margin: auto;
  width: 700px;
  border-bottom: 1px black solid;
  padding: 20px;
  p {
    font-size: 24px;
    margin-top: 0;
    text-align: center;
  }
}

.users {
  margin: auto;
  width: 400px;
  // border-bottom: 1px black solid;
  padding: 20px;
  li {
    text-align: left;
    font-size: 24px;
    margin-top: 0;
  }
}
